:root {
  --accentgreen: #1FB89C;
  --truebase: #2f4d52;
  --dark: #18282A;
  --lightgrey: #F7F8F8;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: work sans, sans-serif;
  font-size: 1.8rem;
  background-color: var(--truebase);
  color: white;
}

.navLinks {
  display: flex;
  /* width: auto; */
  margin: 0px 16px;
  padding: 1rem 0rem;
  height: auto;
  /* border: 2px solid red; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  flex-grow: 1;
  /* border: 5px solid yellow; */

  /* width: 15rem; */
}

.navlink {
  /* border: 2px solid blue; */
  padding-top: 2rem;
  padding-left: 2rem;
}
