:root {
  --accentgreen: #1FB89C;
  --truebase: #2f4d52;
  --dark: #18282A;
  --lightgrey: #F7F8F8;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'work sans', sans-serif;
  font-size: 1.8rem;
  background-color: var(--dark);
  color: white;

}
a:visited{
  color: #f7f8f8;
}
.container {
  max-width: 140rem;
  margin: auto;
}
                            /* WELCOME TO MY NAVIGATION ADVENTURE */
.welcome-wrapper {
  width: 100%;
  background: linear-gradient(rgba(31, 184, 156, .9), rgba(47, 77, 82, 0.8)),
  url(../images/wood-textureBW.jpg);
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  object-position: 30% 90%;
}
              @media (max-width: 40rem) {
                /* OK this is for mobile view */
                /* this is the header AKA navbar */
                .navbar {
                 /* margin: 0.8rem 2.2rem; */
                  /* position: fixed; */
                  width: 100%;
                  z-index: 3;
                }

                .navbar ul{
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  overflow: hidden;
                  /* background-color: #fff; */
                }
                 .navbar img {
                 margin-left: 1.6rem;
                 margin-top: 0.8rem;
                 width: 5.6rem;
                 }
                .navbar li a {
                  display: flex;
                  padding: 3rem 2rem;
                  /* border-right: 1px solid #f4f4f4; */
                  text-decoration: none;
                }

                .navbar li a:hover,
                .navbar .menu-btn:hover {
                color: var(--accentgreen);
                }
                .navlink {
                  padding: 3rem 0rem;
                }
       /* menu */

        .navbar .navLinks {
          color: var(--lightgrey);
          background-color: rgba(24,40,42,0.7);
          display: flex;
          flex-direction: column;
          max-height: 0rem;
          transition: max-height .2s ease-out;

        }
                /* menu icon */

                .menu-icon {
                  cursor: pointer;
                  display: inline-block;
                  float: right;
                  padding: 28px 20px;
                  /* position: relative; */
                  user-select: none;
                }

                .navbar .menu-icon .navicon {
                  background: var(--dark);
                  display: flex;
                  height: 0.2rem;
                  position: relative;
                  /* transition: background .2s ease-out; */
                  width: 1.8rem;
                }

                .navbar .menu-icon .navicon:before,
                .navbar .menu-icon .navicon:after {
                  background: var(--dark);
                  content: '';
                  display: flex;
                  height: 100%;
                  position: absolute;
                  transition: all .3s ease-out;
                  width: 100%;
                }

                .navbar .menu-icon .navicon:before {
                  top: 5px;
                }

                .navbar .menu-icon .navicon:after {
                  top: -5px;
                }

                /* menu btn */

               .navbar .menu-btn {
                 display: none;
               }

               .navbar .menu-btn:checked ~ .navLinks {
                 max-height: 40rem;
               }

               .navbar .menu-btn:checked ~ .menu-icon .navicon {
                 background: transparent;
               }
         /* OK this is the icon animation */
               .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
                 transform: rotate(-45deg);
               }

               .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
                 transform: rotate(45deg);
               }

               .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
               .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
                 top: 0;
               }
         /* enough animation */
               .hero {
                 padding: 15rem 2.4rem;
                 max-width: 100%;
               }
               .hero h1 {

                 font-size: 2.25rem;
                 max-width: 100%;
                 line-height: 150%;
                 font-weight: 300;
                 text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
               }
              }

            /* lets set the media query around 400-450px */
          @media (min-width: 40rem) {
            .navbar {
              display: flex;

              padding: 0.8rem 2.2rem;
              justify-content: space-between;
            }
            .navbar .menu-btn {
              display: none;
            }
            .navbar .navLinks {
              display: flex;
              align-items: center;

            }
            .navlink {
              display: flex;
              padding: 0rem 2.2rem;


            }
            .navbar img{
              display: flex;
              flex-grow: 1;
              width: 5.6rem;
            }
            .navbar .menu-icon {
              display: none;
            }
            .navlink a{
              font-size: 1.6rem;
              text-decoration: none;
              color: var(--truebase)
            }
            .navlink:hover{
              color: white;
            }
            .hero {
              padding: 15rem 2.4rem;
              max-width: 100%;
            }
            .hero h1 {
              font-size: 4.4rem;
              max-width: 66%;
              line-height: 134%;
              font-weight: 100;
                         text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
            }
          }

                            /* THIS IS THE HERO TEXT SECTION */


                  /* THIS IS THE SLIDE SECTION BABY! */
.slide {
  background-color: var(--dark);
  /* display: grid; */
  /* grid-template-rows: 2fr 1fr 2fr; /*what the hell am i doing*/
}
.slide h1 {
  font-size: 2.25rem;
  color: var(--accentgreen);
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 2.2rem;
  margin-top: 10rem;
}


.slide h2 {
  font-family: 'Source Serif Pro', serif;
  padding-left: 2.4rem;
  padding-top: 2.4rem;
  line-height: 110%;
  font-size: 2.25rem;
}

.slide h3 {
  font-family: 'work sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 2.2rem;
}
.slideWrapper{
  display: grid;
  /* grid-row: 1 / 3; */
  z-index: 1;
  height: 100%;
}
.basePad {
  background-image: linear-gradient(#18282A 35%, #2f4d52 35%, #2f4d52 100%);
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-position: bottom;
  /* grid-row: 2 / 3;
  z-index: 2; */
}
.caseSlide {
  border-radius: 5px;
  float: left;
  margin: 2.6rem 1.3rem;
  width: -moz-calc(100% - 2.6rem);
    width: -webkit-calc(100% - 2.6rem);
    width: -o-calc(100% - 2.6rem);
    width: calc(100% - 2.6rem);
  min-height: 29.1rem;
  max-height: 30rem;
  object-fit: cover;
  object-position: left;
  filter: drop-shadow(.25rem .5rem 1.5rem rgba(0,0,0,0.5));
  /* width: 100%;
  height: auto;
  object-fit: cover; */
}
.slideWrapper img {
    margin-top: 1.6rem;
  /* padding-top: 1.6rem; */

    /* grid-row: 2 / 3 */
}

.CaseButton {
    display: flex;
    background-color: var(--truebase);
     border: 2px solid var(--lightgrey);
     border-radius: 5px;
     color: var(--lightgrey);
     margin: 4.6rem 2.2rem ;
     padding: 0.7rem 2.4rem;
     text-align: center;
     text-decoration: none;
     font-size: 1.2rem;
     -webkit-appearance: none;
}

              /* THIS IS THE FOOTER! */
.footerbar {
  background-color: var(--dark);
  color: var(--accentgreen);
  padding-bottom: 2rem;
}
.footerbar h4 {
  padding: 12rem 2.4rem 4.5rem 2.4rem;
  font-size: 1.8rem;
  line-height: 125%;
  font-weight: lighter;
  justify-content: center;
  display: flex;


}
.footerbar ul {
  display: flex;
  justify-content: center;
}

.footerbar .fa {
  color: var(--accentgreen);
  font-size: 3rem;
  padding: 0rem 2rem 4.5rem 2rem;
}
.footerbar p {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  /* margin-bottom: 1rem; */
}
