* {
  box-sizing: border-box;
}

body {
  background-color: #18282A;
}

footer p {
    color: #1FB89C;
    background-color: #18282A;
  }

.slide img {
  width: 25%;
  height: auto;
}
nav {
  background: #1FB89C;
}
p {
  color: #ffffff;
/*  margin-top: .5rem;
  line-height: 1.3em;*/
}

h1 {
  font-size: 1.7rem;
}

/*.backgrounder {
  background-color: #2F4D52;
  width: 300px;
  height: 15px;
}*/
.container {
  background-color: #18282A;
  width: 95%;
  margin: 0 auto;
}

.hero {
  padding: 2rem;
/*  width: 100%;
  margin: 0;*/
  background-image: linear-gradient(#1FB89C,#2F4D52);
}

.slide {
   background-color: #18282A;
   color: #fff;
   padding: 2rem;
}

/*tablet*/
@media screen and (min-width: 768px) {
  .container {
    background-color: yellow;
    width: 80%;
    overflow: hidden;
  }
 /*section {
    background-color: #18282A;
    color: #fff;
  /*  padding: 3rem;
     margin-top: 1rem;
    float: left;
    width: 48%;
    margin: 1%;*/
  }
}

/*desktop
@media screen and (min-width: 1000px) {
  .container {
    background-color: red;
    width: 80rem;
  }
  section {
    background-color: #18282A;
    color: #fff;
    padding: 3rem;
     margin-top: 1rem;
    float: left;
    width: 23%;
    margin: 1%;
  }
}
*/
